<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-white">Sign in</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.text_field :username, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your username", value: params[:username], class: "block rounded-lg border border-gray-700 bg-gray-800 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 px-4 py-3 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block rounded-lg border border-gray-700 bg-gray-800 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 px-4 py-3 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Sign in", class: "w-full sm:w-auto text-center rounded-lg px-5 py-3 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer transition" %>
    </div>
  <% end %>
</div>
