---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?fields=key,title,author_name,first_publish_year,cover_i,edition_count&limit=5&q=fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"numFound":1708911,"start":0,"numFoundExact":true,"num_found":1708911,"documentation_url":"https://openlibrary.org/dev/docs/api/search","q":"fiction","offset":null,"docs":[{"author_name":["Isaac
        Asimov"],"cover_i":14612610,"edition_count":97,"first_publish_year":1951,"key":"/works/OL46125W","title":"Foundation"},{"author_name":["Jorge
        Luis Borges"],"cover_i":10832290,"edition_count":78,"first_publish_year":1945,"key":"/works/OL110971W","title":"Ficciones"},{"author_name":["Bram
        Stoker"],"cover_i":12216503,"edition_count":736,"first_publish_year":1897,"key":"/works/OL85892W","title":"Dracula"},{"author_name":["Toni
        Morrison"],"cover_i":8261367,"edition_count":104,"first_publish_year":1987,"key":"/works/OL50548W","title":"Beloved"},{"author_name":["Mary
        Shelley"],"cover_i":882662,"edition_count":430,"first_publish_year":1826,"key":"/works/OL450124W","title":"The
        Last Man"}]}'
  recorded_at: Fri, 19 Dec 2025 00:23:53 GMT
recorded_with: VCR 6.3.1
